configuration {
    font: "FiraCode Nerd Dont Mono; 12";
    scrollbar: false;
}
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"
